{% extends "templates/app.twig" %}
{% block full %}
<div class="row align-items-end">
    <div class="col-8">
        <h1>Налог</h1>
        <div class="h5">
            <em>Број:</em> <span class="text-success">{{ nalog.broj }}</span>
            <em>од</em> <span class="text-success">{{ nalog.datum|date('d.m.Y') }}</span>
            <em>| Магацин из:</em> <span class="text-success">{% for magiz in nalog.magaciniiz() %}{{ magiz.naziv }}{% if loop.last == false  %},{% else %} {% endif %} {% endfor %}</span>
            <em>| Магацин у:</em> <span class="text-success">{% for magu in nalog.magaciniu() %}{{ magu.naziv }}{% if loop.last == false  %},{% else %} {% endif %} {% endfor %}</span>
        </div>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-warning" onclick="history.back()">
            <i class="bi-arrow-left-short"></i> Назад
        </button>
        <a href="{{ url_for('nalog.lista') }}" class="btn btn-primary"><i class="bi-arrow-left"></i> Налози</a>
    </div>
</div>
<hr>

{% if nalog.stavke()|length > 0 %}
<div class="row">
    <div class="col-md-8 offset-md-2">
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th class="w-15">#</th>
            <th class="w-20">Магацин</th>
            <th class="w-20">Артикал</th>
            <th class="w-10 text-end">Количина</th>
            <th class="w-15">Смер</th>
            <th class="w-20">Опис</th>
        </tr>
    </thead>
    <tbody>
        {% for stavka in nalog.stavke() %}
        <tr>
            <td class="text-danger">{{ stavka.id }}</td>
            <td>{{ stavka.magacin().naziv }}</td>
            <td>{{ stavka.artikal().naziv }} [{{ stavka.artikal().kategorija().naziv }}]</td>
            <td class="text-end">{{ stavka.kolicina|number_format(2) }}</td>
            <td>{{ stavka.smer }}</td>
            <td>{{ stavka.opis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% else %}
<h2>Нема ставки</h2>
{% endif %}
{% endblock full %}