<!DOCTYPE html>
<html lang="sr">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<title>
		{{ APP_NAME }}
	</title>
	<link rel="icon" type="image/x-icon" href="{{ base_path() }}/icon.png" />
	<link href="{{ base_path() }}/css/bootstrap.min.css" rel="stylesheet" />
	<link href="{{ base_path() }}/css/bootstrap-icons.css" rel="stylesheet" />
	<link href="{{ base_path() }}/css/app.css" rel="stylesheet" /> {% block style %}{% endblock %}
</head>

<body>
	<header>
		{% include 'templates/inc/navigation.twig' %}
	</header>
	<div>
		{% include 'templates/inc/flash.twig' %}
	</div>
	<main class="container-fluid">
		<div class="row">
			<div class="col-12"> {% block full %}{% endblock %}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8"> {% block article %}{% endblock %}
			</div>
			<div class="col-lg-4"> {% block aside %}{% endblock %}
			</div>
		</div>
	</main>
	<footer>
		{% include 'templates/inc/footer.twig' %}
	</footer>
	<script src="{{ base_path() }}/js/bootstrap.min.js"></script>
	<script src="{{ base_path() }}/js/app.js"></script>
	{% block skripta %}{% endblock %}
</body>

</html>