{% extends "templates/app.twig" %}
{% block full %}
<h1>Добављачи</h1>
<hr>
<div class="card border-dark">
    <h5 class="card-header">Додавање добављача</h5>
    <div class="card-body">
        <form action="{{ url_for('dobavljac.dodavanje') }}" method="POST">
            {{ csrf | raw }}
            <div class="row mt-3 g-3">
                <div class="col-md-4">
                    <label for="naziv">Назив добављача</label>
                    <input type="text" class="form-control{{ errors.naziv ? ' is-invalid' : '' }}" name="naziv" id="naziv" value="{{ old.naziv ? : '' }}" maxlength="255" oninvalid="this.setCustomValidity('Назив је обавезан и мора да садржи највише 255 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.naziv.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="pib">ПИБ</label>
                    <input type="text" class="form-control{{ errors.pib ? ' is-invalid' : '' }}" name="pib" id="pib" value="{{ old.pib ? : '' }}" maxlength="50" oninvalid="this.setCustomValidity('ПИБ мора да садржи највише 50 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.pib.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="racun">Рачун</label>
                    <input type="text" class="form-control{{ errors.racun ? ' is-invalid' : '' }}" name="racun" id="racun" value="{{ old.racun ? : '' }}" maxlength="50" oninvalid="this.setCustomValidity('Рачун мора да садржи највише 50 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.racun.0 }}</div>
                </div>
            </div>
            <div class="row mt-3 g-3">
                <div class="col-md-4">
                    <label for="adresa_mesto">Адреса место</label>
                    <input type="text" class="form-control{{ errors.adresa_mesto ? ' is-invalid' : '' }}" name="adresa_mesto" id="adresa_mesto" value="{{ old.adresa_mesto ? : '' }}" maxlength="50" oninvalid="this.setCustomValidity('Адреса место мора да садржи највише 50 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.adresa_mesto.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="adresa_ulica">Адреса улица</label>
                    <input type="text" class="form-control{{ errors.adresa_ulica ? ' is-invalid' : '' }}" name="adresa_ulica" id="adresa_ulica" value="{{ old.adresa_ulica ? : '' }}" maxlength="100" oninvalid="this.setCustomValidity('Адреса улица мора да садржи највише 100 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.adresa_mesto.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="adresa_broj">Адреса број</label>
                    <input type="text" class="form-control{{ errors.adresa_broj ? ' is-invalid' : '' }}" name="adresa_broj" id="adresa_broj" value="{{ old.adresa_broj ? : '' }}" maxlength="30" oninvalid="this.setCustomValidity('Адреса број мора да садржи највише 30 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.adresa_mesto.0 }}</div>
                </div>
            </div>
            <div class="row mt-3 g-3">
                <div class="col-md-4">
                    <label for="telefon">Телефон</label>
                    <input type="text" class="form-control{{ errors.telefon ? ' is-invalid' : '' }}" name="telefon" id="telefon" value="{{ old.telefon ? : '' }}" maxlength="30" oninvalid="this.setCustomValidity('Телефон мора да садржи највише 30 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.telefon.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="email">Електорнска адреса</label>
                    <input type="email" placeholder="ime@domen.com" class="form-control{{ errors.email ? ' is-invalid' : '' }}" name="email" id="email" value="{{ old.email ? : '' }}" maxlength="60" oninvalid="this.setCustomValidity('Електорнска адреса мора да садржи највише 60 карактера.')" oninput="this.setCustomValidity('')" autocomplete="off">
                    <div class="invalid-feedback">{{ errors.adresa_mesto.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="napomena" class="form-label">Напомена</label>
                    <textarea name="napomena" class="form-control" id="napomena" rows="3"></textarea>
                </div>
            </div>
            <div class="row text-end mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary"><i class="bi-plus-square"></i> Додај</button>
                    <a href="{{ url_for('dobavljac.lista') }}" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock full %}