{% extends "templates/app.twig" %}
{% block full %}
<div class="row">
    <div class="col-md-6">
        <h1>
            Добављачи
            {% if data %}
            <span class="text-danger fs-4">[филтрирано]</span>
            {% else %}
            <span class="text-success fs-4">[сви записи]</span>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-6 text-end mt-3 ne_stampaj">
        <a class="btn btn-primary" type="button" href="{{ url_for('dobavljac.dodavanje.get') }}">
            <i class="bi-plus-square"></i> Додај добављача
        </a>
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#pretraga">
            <i class="bi-arrow-down-square"></i> Филтер
        </button>
        <a class="btn btn-success" type="button" href="{{ url_for('dobavljac.lista') }}">
            <i class="bi-view-list"></i> Сви записи
        </a>
    </div>
</div>
<hr>
{% set data = dobavljaci.data %}
{% set links = dobavljaci.links %}

<div class="collapse border border-primary p-2 my-2 rounded-2" id="pretraga">
    <form action="{{ url_for('dobavljac.pretraga.post') }}" method="POST" class="form row">
        {{ csrf|raw }}
        <div class="row">
            <div class="col-md-3">
                <label for="naziv" class="form-label">Назив</label>
                <input type="text" name="naziv" id="naziv" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="adresa_mesto" class="form-label">Адреса место</label>
                <input type="text" name="adresa_mesto" id="adresa_mesto" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="adresa_ulica" class="form-label">Адреса улица</label>
                <input type="text" name="adresa_ulica" id="adresa_ulica" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="adresa_broj" class="form-label">Адреса број</label>
                <input type="text" name="adresa_broj" id="adresa_broj" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="email" class="form-label">Електорнска адреса</label>
                <input type="text" name="email" id="email" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="telefon" class="form-label">Телефон</label>
                <input type="text" name="telefon" id="telefon" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="pib" class="form-label">ПИБ</label>
                <input type="text" name="pib" id="pib" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="racun" class="form-label">Рачун</label>
                <input type="text" name="racun" id="racun" class="form-control">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="napomena" class="form-label">Напомена</label>
                <input type="text" name="napomena" id="napomena" class="form-control">
            </div>
        </div>
        <div class="row mt-3">
            <div class="col text-end">
                <button type="submit" class="btn btn-primary"><i class="bi-search"></i> Пронађи</button>
            </div>
        </div>
    </form>
</div>

{% if data|length > 0 %}
<div class="table-responsive-md">
<table class="table table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-15">Назив</th>
            <th class="w-10">ПИБ</th>
            <th class="w-10">Рачун</th>
            <th class="w-15">Адреса</th>
            <th class="w-10">Електорнска адреса</th>
            <th class="w-10">Телефон</th>
            <th class="w-15">Напомена</th>
            <th class="w-10 text-end ne_stampaj"><i class="bi-gear"></i> Акције</th>
        </tr>
    </thead>
    <tbody>
        {% for dobavljac in data %}
        <tr>
            <td class="text-danger">{{ dobavljac.id }}</td>
            <td>{{ dobavljac.naziv }}</td>
            <td>{{ dobavljac.pib }}</td>
            <td>{{ dobavljac.racun }}</td>
            <td>{{ dobavljac.adresa() }}</td>
            <td>{{ dobavljac.email }}</td>
            <td>{{ dobavljac.telefon }}</td>
            <td>{{ dobavljac.napomena|nl2br }}</td>
            <td class="text-end ne_stampaj">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-warning" href="{{ url_for('dobavljac.izmena.get', { id: dobavljac.id }) }}"
                        title="Измена добављача"><i class="bi-pencil"></i></a>
                    <button class="btn btn-danger otvori-brisanje" data-bs-toggle="modal" id="brisanje"
                        data-bs-target="#brisanjeModal" value="{{ dobavljac.id }}" title="Брисање добављача"
                        onclick="document.getElementById('idBrisanje').value = this.value"><i
                            class="bi-trash"></i></button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="row row-cols-auto">
    <div class="col">{{ links.buttons|raw }}</div>
    <div class="col">
        {{ links.select|raw }}
    </div>
    <div class="col text-secondary pt-1">
        Приказани редови од
        <span class="text-danger">{{ links.row_from }}</span>
        до
        <span class="text-danger">{{ links.row_to }}</span>
        од укупно
        <span class="text-danger">{{ links.total_rows }}</span>
    </div>
</div>
{% else %}
<h2>Нема добављача</h2>
{% endif %}
</div>
<div class="container-fluid mt-5 mb-5">
<hr style="height:2px;border-width:0;color:white;background-color:white">
</div>
{# Modal za brisanje #}
<div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="brisanje-forma" action="{{ url_for('dobavljac.brisanje') }}" method="POST">
            <div class="modal-header">
                <h2 class="modal-title text-danger">Упозорење!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body">
                <h4>Да ли желите трајно да обришете добављача?</h4>
                <p class="text-danger lead">* Ова акција је неповратна!</p>
                    {{ csrf | raw }}
                    <input type="hidden" id="idBrisanje" name="idBrisanje" value="">
            </div>
            <div class="modal-footer">
                    <button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">Обриши
                    </button>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Откажи
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
{# Kraj modala za brisanje #}
{% endblock full %}