{% extends "templates/app.twig" %}
{% block full %}
<h1>Пријемница</h1>
<hr>
<div class="card border-dark">
    <div class="card-header">Додавање пријемнице</div>
    <div class="card-body">
        <form action="{{ url_for('prijemnica.dodavanje.post') }}" method="POST">
            {{ csrf|raw }}
            <div class="row mt-3">
                <div class="col">
                    <label for="id_magacina" class="form-label">Магацин</label>
                    <select name="id_magacina" id="id_magacina" class="form-select">
                        {% for mag in magacini %}
                        <option value="{{ mag.id }}" {{ old.id_magacina==mag.id ? ' selected' : '' }}>
                            {{ mag.naziv }}
                        </option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col">
                    <label for="datum" class="form-label">Датум</label>
                    <input type="date" class="form-control{{ errors.datum ? ' is-invalid' : '' }}" name="datum"
                        id="datum" value="{{ old.datum }}" oninvalid="this.setCustomValidity('Датум је обавезан.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.datum.0 }}</div>
                </div>

                <div class="col">
                    <label for="broj" class="form-label">Број</label>
                    <input type="text" class="form-control{{ errors.broj ? ' is-invalid' : '' }}" name="broj" id="broj"
                        value="{{ old.broj }}" maxlength="100"
                        oninvalid="this.setCustomValidity('Број је обавезан и мора да садржи највише 100 карактера.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.broj.0 }}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="id_dobavljaca" class="form-label">Добављач</label>
                    <select name="id_dobavljaca" id="id_dobavljaca" class="form-select">
                        {% for dob in dobavljaci %}
                        <option value="{{ dob.id }}" {{ old.id_dobavljaca==dob.id ? ' selected' : '' }}>
                            {{ dob.naziv }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <label for="napomena" class="form-label">Напомена</label>
                    <textarea class="form-control{{ errors.napomena ? ' is-invalid' : '' }}" name="napomena"
                        id="napomena" rows="3">{{ old.napomena }}</textarea>
                    <div class="invalid-feedback">{{ errors.napomena.0 }}</div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <h5 class="text-info">Издао</h5>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="izdao_ime" class="form-label">Име и презиме</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.izdao_ime ? ' is-invalid' : '' }}"
                                name="izdao_ime" id="izdao_ime" value="{{ old.izdao_ime }}" maxlength="100">
                            <div class="invalid-feedback">{{ errors.izdao_ime.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="izdao_jmbg" class="form-label">ЈМБГ (ЛК)</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.izdao_jmbg ? ' is-invalid' : '' }}"
                                name="izdao_jmbg" id="izdao_jmbg" value="{{ old.izdao_jmbg }}" maxlength="20">
                            <div class="invalid-feedback">{{ errors.izdao_jmbg.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="izdao_datum" class="form-label">Датум</label>
                        </div>
                        <div class="col-md-9">
                            <input type="date"
                                class="form-control form-control-sm{{ errors.izdao_datum ? ' is-invalid' : '' }}"
                                name="izdao_datum" id="izdao_datum" value="{{ old.izdao_datum }}">
                            <div class="invalid-feedback">{{ errors.izdao_datum.0 }}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5 class="text-info">Превоз</h5>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="prevoz_ime" class="form-label">Име и презиме</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.prevoz_ime ? ' is-invalid' : '' }}"
                                name="prevoz_ime" id="prevoz_ime" value="{{ old.prevoz_ime }}" maxlength="100">
                            <div class="invalid-feedback">{{ errors.prevoz_ime.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="prevoz_jmbg" class="form-label">ЈМБГ (ЛК)</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.prevoz_jmbg ? ' is-invalid' : '' }}"
                                name="prevoz_jmbg" id="prevoz_jmbg" value="{{ old.prevoz_jmbg }}" maxlength="20">
                            <div class="invalid-feedback">{{ errors.prevoz_jmbg.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="prevoz_datum" class="form-label">Датум</label>
                        </div>
                        <div class="col-md-9">
                            <input type="date"
                                class="form-control form-control-sm{{ errors.prevoz_datum ? ' is-invalid' : '' }}"
                                name="prevoz_datum" id="prevoz_datum" value="{{ old.prevoz_datum }}">
                            <div class="invalid-feedback">{{ errors.prevoz_datum.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="prevoz_registracija" class="form-label">Возило рег. број</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.prevoz_registracija ? ' is-invalid' : '' }}"
                                name="prevoz_registracija" id="prevoz_registracija"
                                value="{{ old.prevoz_registracija }}" maxlength="50">
                            <div class="invalid-feedback">{{ errors.prevoz_registracija.0 }}</div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h5 class="text-info">Примио</h5>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="primio_ime" class="form-label">Име и презиме</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.primio_ime ? ' is-invalid' : '' }}"
                                name="primio_ime" id="primio_ime" value="{{ old.primio_ime }}" maxlength="100">
                            <div class="invalid-feedback">{{ errors.primio_ime.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="primio_jmbg" class="form-label">ЈМБГ (ЛК)</label>
                        </div>
                        <div class="col-md-9">
                            <input type="text"
                                class="form-control form-control-sm{{ errors.primio_jmbg ? ' is-invalid' : '' }}"
                                name="primio_jmbg" id="primio_jmbg" value="{{ old.primio_jmbg }}" maxlength="20">
                            <div class="invalid-feedback">{{ errors.primio_jmbg.0 }}</div>
                        </div>
                    </div>
                    <div class="row mt-1">
                        <div class="col-md-3">
                            <label for="primio_datum" class="form-label">Датум</label>
                        </div>
                        <div class="col-md-9">
                            <input type="date"
                                class="form-control form-control-sm{{ errors.primio_datum ? ' is-invalid' : '' }}"
                                name="primio_datum" id="primio_datum" value="{{ old.primio_datum }}">
                            <div class="invalid-feedback">{{ errors.primio_datum.0 }}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-end">
                <div class="mt-3 col">
                    <button type="submit" class="btn btn-primary"><i class="bi-plus-square"></i> Додај</button>
                    <a href="{{ url_for('prijemnica.lista') }}" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock full %}