{% extends "templates/app.twig" %}
{% block full %}
<div class="row mt-3 align-items-end">
    <div class="col-4">
        <h1>
            Пријемнице
            {% if magacini %}
            по <span class="text-success">магацину</span>
            {% endif %}
            {% if dobavljaci %}
            по <span class="text-success">добављачу</span>
            {% endif %}
        </h1>
    </div>
    <div class="col-4">
        {% if magacini %}
        <select name="id_magacina" id="id_magacina" class="form-select text-primary">
            <option value="0">...</option>
            {% for mag in magacini %}
            <option value="{{ mag.id }}" {{ magacin.id==mag.id ? ' selected' : '' }}>
                {{ mag.naziv }} [{{ mag.tip.naziv }}]
            </option>
            {% endfor %}
        </select>
        {% endif %}
        {% if dobavljaci %}
        <select name="id_dobavljaca" id="id_dobavljaca" class="form-select text-primary">
            <option value="0">...</option>
            {% for dob in dobavljaci %}
            <option value="{{ dob.id }}" {{ dobavljac.id==dob.id ? ' selected' : '' }}>
                {{ dob.naziv }}
            </option>
            {% endfor %}
        </select>
        {% endif %}
    </div>
    <div class="col-4 text-end mt-3">
        <div class="input-group">
            <span class="input-group-text bg-primary text-white border-primary"><i class="bi-search"></i></span>
            <input type="search" class="form-control border-primary" id="searchbox" name="searchbox">
            <button class="btn btn-primary" type="button" id="ponisti-pretragu">
                <i class="bi-x-square"></i> Поништи
            </button>
        </div>
    </div>
</div>
<hr>

<table class="table table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-5">Датум</th>
            <th class="w-15">Магацин</th>
            <th class="w-15">Добављач</th>
            <th class="w-5">Број</th>
            <th class="w-10 text-end">Износ</th>
            <th class="w-10 text-end">Плаћено</th>
            <th class="w-10 text-end">Остатак</th>
            <th class="w-15">Напомена</th>
            <th class="w-10 text-end"><i class="bi-gear"></i> Акције</th>
        </tr>
    </thead>
    <tbody>
        {% for pr in prijemnice %}
        <tr class="pretraga">
            <td class="text-danger">{{ pr.id }}</td>
            <td>{{ pr.datum|date('d.m.Y') }}</td>
            <td>{{ pr.magacin().naziv }}</td>
            <td>{{ pr.dobavljac().naziv }}</td>
            <td>{{ pr.broj }}</td>
            <td class="text-end">{{ pr.ukupanIzanos()|number_format(2) }}</td>
            <td class="text-end text-success">{{ pr.placeniIzanos()|number_format(2) }}</td>
            <td class="text-end text-danger">{{ pr.dugIzanos()|number_format(2) }}</td>
            <td>{{ pr.napomena|nl2br }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{{ url_for('prijemnica.pregled.no', { id: pr.id }) }}"
                        title="Преглед пријемнице"><i class="bi-eye"></i></a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock full %}

{% block skripta %}
{% if magacini %}
<script>
    document.getElementById('id_magacina').onchange = function () {
        let url = "{{ url_for('prijemnica.magacin', { id: 0 }) }}";
        url = url.replace("0", this.value);
        window.location.href = url;
    }
</script>
{% endif %}
{% if dobavljaci %}
<script>
    document.getElementById('id_dobavljaca').onchange = function () {
        let url = "{{ url_for('prijemnica.dobavljac', { id: 0 }) }}";
        url = url.replace("0", this.value);
        window.location.href = url;
    }
</script>
{% endif %}
{% endblock skripta %}