{% extends "templates/app.twig" %}
{% block full %}
<div class="row align-items-end">
    <div class="col-8">
        <h1>Пријемница</h1>
        <div class="h5">
            <em>Број:</em> <span class="text-success">{{ prijemnica.broj }}</span>
            <em>од</em> <span class="text-success">{{ prijemnica.datum|date('d.m.Y') }}</span>
            <em>| Магацин:</em> <span class="text-success">{{ prijemnica.magacin().naziv }}</span>
            <em>| Добављач:</em> <span class="text-success">{{ prijemnica.dobavljac().naziv }}</span>
        </div>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-warning" onclick="history.back()">
            <i class="bi-arrow-left-short"></i> Назад
        </button>
        <a href="{{ url_for('prijemnica.lista') }}" class="btn btn-primary"><i class="bi-arrow-left"></i> Пријемнице</a>
    </div>
</div>
<hr>

{% if prijemnica.stavke()|length > 0 %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-30">Артикал</th>
            <th class="w-10 text-end">Количина</th>
            <th class="w-5">Јм</th>
            <th class="w-15 text-end">Износ</th>
            <th class="w-5 text-center">Плаћ</th>
            <th class="w-30">Опис</th>
        </tr>
    </thead>
    <tbody>
        {% for stavka in prijemnica.stavke() %}
        <tr>
            <td class="text-danger">{{ stavka.id }}</td>
            <td>{{ stavka.artikal().naziv }} [{{ stavka.artikal().kategorija().naziv }}]</td>
            <td class="text-end">{{ stavka.kolicina|number_format(2) }}</td>
            <td>{{ stavka.artikal().jm.jm }}</td>
            <td class="text-end">{{ stavka.iznos|number_format(2) }}</td>
            <td class="text-center">
                {% if stavka.placeno %}
                <i class="bi-check-circle text-success"></i>
                {% else %}
                <i class="bi-x-circle text-danger"></i>
                {% endif %}
            </td>
            <td>{{ stavka.opis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<h2>Нема ставки</h2>
{% endif %}
{% endblock full %}