{% extends "templates/app.twig" %}
{% block full %}
	<div class="row mt-md-2 d-none d-sm-flex">
		<div class="col">
			<h1>
				Корисници апликације</h1>
		</div>
	</div>
	<div class="row mt-2 d-sm-none">
		<div class="col">
			<h4>
				Корисници апликације</h4>
		</div>
	</div>
	<hr/>
		<div class="card border-dark mb-3">
		<div class="card-header">Измена података корисника</div>
		<div class="card-body text-dark mobilni">
			<form action="{{ url_for('korisnik.izmena.post') }}" method="POST" oninput='lozinka_potvrda.setCustomValidity(lozinka_potvrda.value != lozinka.value ? "Лозинка се не поклапа!" : "")'>
				{{ csrf|raw }}
				<input type="hidden" id="id" name="id" value="{{ kor.id }}"/>
				<div class="form-row mt-3">
					<div class="form-group">
						<label for="puno_ime">Име и презиме</label>
						<input type="text" class="form-control{{ errors.puno_ime ? ' is-invalid' : '' }}" name="puno_ime" id="puno_ime" value="{{ old.puno_ime ? : kor.puno_ime }}" 
						oninvalid="this.setCustomValidity('Име и презиме је обавезно поље.')"
                        oninput="this.setCustomValidity('')"
                        autocomplete="off" required/>
                        <div class="invalid-feedback">{{ errors.puno_ime.0 }}</div>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="form-group">
						<label for="korisnicko_ime">Корисничко име</label>
						<input type="text" class="form-control{{ errors.korisnicko_ime ? ' is-invalid' : '' }}" name="korisnicko_ime" id="korisnicko_ime" value="{{ old.korisnicko_ime ? : kor.korisnicko_ime }}" 
						oninvalid="this.setCustomValidity('Корисничко име је обавезно поље са најмање 5 карактера.')"
                        oninput="this.setCustomValidity('')"
                        autocomplete="off" required minlength="5"/>
                        <div class="invalid-feedback">{{ errors.korisnicko_ime.0 }}</div>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="form-group">
						<label for="lozinka">Лозинка</label>
						<input class="form-control{{ errors.lozinka ? ' is-invalid' : '' }}" type="password" name="lozinka" id="lozinka"
						oninvalid="this.setCustomValidity('Лозинка је обавезно поље са најмање 6 карактера.')"
                        oninput="this.setCustomValidity('')"
                        autocomplete="new-password"/>
                        <div class="invalid-feedback">{{ errors.lozinka.0 }}</div>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="form-group">
						<label for="lozinka_potvrda">Потврда лозинке</label>
						<input class="form-control{{ errors.lozinka_potvrda ? ' is-invalid' : '' }}" type="password" name="lozinka_potvrda" id="lozinka_potvrda" 
						oninvalid="this.setCustomValidity('Потврда лозинке је обавезно поље које мора бити исто као и поље лозинка.')"
                        oninput="this.setCustomValidity('')"
                        autocomplete="off"/>
                        <div class="invalid-feedback">{{ errors.lozinka_potvrda.0 }}</div>
					</div>
				</div>
				<div class="form-row mt-3">
					<div class="form-group">
						<label for="nivo">Ниво корисничких права</label>
						<select class="form-select{{ errors.nivo ? ' is-invalid' : '' }}" id="nivo" 
						oninvalid="this.setCustomValidity('Ниво корисничких права је обавезно поље.')"
                        oninput="this.setCustomValidity('')"
                        name="nivo" required>
							<option value=""></option>
							{% if auth.user.nivo == 0 %}
								<option value="0" {{ korisnik.nivo == 0 ? ' selected' : '' }}>Администратор</option>
							{% endif %}
							<option value="100" {{ korisnik.nivo == 100 ? ' selected' : '' }}>Корисник</option>
						</select>
						<div class="invalid-feedback">{{ errors.nivo.0 }}</div>
					</div>
				</div>
				<div class="form-row text-end mt-3">
					<div class="col">
						<button type="submit" class="btn btn-primary text-right">
							<i class="bi-save"></i> Измени
						</button>
						<a href="{{ url_for('korisnik.lista') }}" class="btn btn-secondary">
							<i class="bi-x-square"></i>
							Откажи</a>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock full %}
