{% extends "templates/app.twig" %}
{% block full %}
<div class="row">
    <div class="col-md-8">
        <h1>
            Отписи
            {% if data %}
            <span class="text-danger fs-4">[филтрирано]</span>
            {% else %}
            <span class="text-success fs-4">[сви записи]</span>
            {% endif %}
        </h1>
    </div>
    <div class="col text-end mt-3">
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#pretraga">
            <i class="bi-arrow-down-square"></i> Филтер
        </button>
        <a class="btn btn-success" type="button" href="{{ url_for('otpis.lista') }}">
            <i class="bi-view-list"></i> Сви записи
        </a>
    </div>
</div>
<hr>

<div class="collapse border border-primary p-2 my-2 rounded-2" id="pretraga">
    <form action="{{ url_for('otpis.pretraga.post') }}" method="POST" class="form row">
        {{ csrf|raw }}
        <div class="col">
            <label for="id_magacina" class="form-label">Магацин</label>
            <select name="id_magacina" id="id_magacina" class="form-select">
                <option value="" selected>...</option>
                {% for mag in magacini %}
                <option value="{{ mag.id }}">{{ mag.naziv }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col">
            <label for="id_artikla" class="form-label">Артикли</label>
            <select name="id_artikla" id="id_artikla" class="form-select">
                <option value="" selected>...</option>
                {% for art in artikli %}
                <option value="{{ art.id }}">{{ art.naziv }} {{ art.jm().jm}} [{{ art.kategorija().naziv }}]</option>
                {% endfor %}
            </select>
        </div>

        <div class="col">
            <label for="datum_1" class="form-label">Датум од</label>
            <input type="date" name="datum_1" id="datum_1" class="form-control">
        </div>
        <div class="col">
            <label for="datum_2" class="form-label">Датум до</label>
            <input type="date" name="datum_2" id="datum_2" class="form-control">
        </div>

        <div class="col align-content-end">
            <button type="submit" class="btn btn-primary"><i class="bi-search"></i> Пронађи</button>
        </div>
    </form>
</div>
{% endblock full %}

{% block article %}
{% set data = otpisi.data %}
{% set links = otpisi.links %}
<table class="table table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-10">Датум</th>
            <th class="w-20">Магацин</th>
            <th class="w-20">Артикал</th>
            <th class="w-10 text-end">Количина</th>
            <th class="w-5">Јм</th>
            <th class="w-20">Напомена</th>
            <th class="w-10 text-end"><i class="bi-gear"></i> Акције</th>
        </tr>
    </thead>
    <tbody>
        {% for otpis in data %}
        <tr>
            <td class="text-danger">{{ otpis.id }}</td>
            <td>{{ otpis.datum|date('d.m.Y') }}</td>
            <td>{{ otpis.magacin().naziv }}</td>
            <td>{{ otpis.artikal().naziv }} {{ otpis.artikal().jm().jm }} [{{ otpis.artikal().kategorija().naziv }}]
            </td>
            <td class="text-end">{{ otpis.kolicina|number_format(2) }}</td>
            <td>{{ otpis.artikal().jm().jm }}</td>
            <td>{{ otpis.napomena|nl2br }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-danger otvori-brisanje" data-bs-toggle="modal" id="brisanje"
                        data-bs-target="#brisanjeModal" value="{{ otpis.id }}"
                        onclick="document.getElementById('idBrisanje').value = this.value">
                        <i class="bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row row-cols-auto">
    <div class="col">{{ links.buttons|raw }}</div>
    <div class="col">
        {{ links.select|raw }}
    </div>
    <div class="col text-secondary pt-1">
        Приказани редови од
        <span class="text-danger">{{ links.row_from }}</span>
        до
        <span class="text-danger">{{ links.row_to }}</span>
        од укупно
        <span class="text-danger">{{ links.total_rows }}</span>
    </div>
</div>
{# Modal za brisanje #}
<div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-danger">Упозорење!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body">
                <h4>Да ли желите трајно да обришете отпис?</h4>
                <p class="text-danger lead">* Ова акција је неповратна!</p>
                <form id="brisanje-forma" action="{{ url_for('otpis.brisanje') }}" method="POST">
                    {{ csrf | raw }}
                    <input type="hidden" id="idBrisanje" name="idBrisanje" value="">
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">Обриши
                    </button>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Откажи
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Kraj modala za brisanje #}
{% endblock article %}

{% block aside %}
<div class="card border-dark">
    <div class="card-header bg-black text-white"><strong>Додавање отписа</strong></div>
    <div class="card-body">
        <form action="{{ url_for('otpis.dodavanje.post') }}" method="POST">
            {{ csrf|raw }}
            <div class="mt-3">
                <label for="datum" class="form-label">Датум</label>
                <input type="date" class="form-control{{ errors.datum ? ' is-invalid' : '' }}" name="datum" id="datum"
                    value="{{ old.datum }}" oninvalid="this.setCustomValidity('Датум је обавезан.')"
                    oninput="this.setCustomValidity('')" autocomplete="off" required>
                <div class="invalid-feedback">{{ errors.datum.0 }}</div>
            </div>
            <div class="mt-3">
                <label for="id_magacina" class="form-label">Магацин</label>
                <select name="id_magacina" id="id_magacina"
                    class="form-select{{ errors.id_magacina ? ' is-invalid' : '' }}" required autocomplete="off">
                    {% for mag in magacini %}
                    <option value="{{ mag.id }}" {{ old.id_magacina==mag.id ? ' selected' : '' }}>
                        {{ mag.naziv }} [{{ mag.tip().naziv }}]
                    </option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ errors.id_artikla.0 }}</div>
            </div>
            <div class="mt-3">
                <label for="id_artikla" class="form-label">Артикал</label>
                <select name="id_artikla" id="id_artikla"
                    class="form-select{{ errors.id_artikla ? ' is-invalid' : '' }}" required autocomplete="off">
                    {% for art in artikli %}
                    <option value="{{ art.id }}" {{ old.id_artikla==art.id ? ' selected' : '' }}>
                        {{ art.naziv }} {{ art.jm.jm}} [{{ art.kategorija().naziv }}]
                    </option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ errors.id_artikla.0 }}</div>
            </div>
            <div class="mt-3">
                <label for="kolicina">Количина</label>
                <input type="number" class="form-control{{ errors.kolicina ? ' is-invalid' : '' }}" name="kolicina"
                    id="kolicina" value="{{ old.kolicina ? : '0.00' }}" min="0" step="0.01" inputmode="decimal"
                    oninvalid="this.setCustomValidity('Количина је обавезна и мора мора бити већа од 0.')"
                    oninput="this.setCustomValidity('')" autocomplete="off" required>
                <div class="invalid-feedback">{{ errors.kolicina.0 }}</div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="napomena" class="form-label">Напомена</label>
                    <textarea class="form-control{{ errors.napomena ? ' is-invalid' : '' }}" name="napomena"
                        id="napomena" rows="3">{{ old.napomena }}</textarea>
                    <div class="invalid-feedback">{{ errors.napomena.0 }}</div>
                </div>
            </div>
            <div class="form-row text-end mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary"><i class="bi-plus-square"></i> Додај</button>
                    <a href="" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock aside %}