{% extends "templates/app.twig" %}
{% block full %}
<div class="row mt-3 align-items-end">
    <div class="col-4">
        <h1>
            Стање по <span class="text-success">магацину</span>
        </h1>
        <p class="h4">{{ magacin.naziv }} [{{ magacin.tip().naziv }}]</p>
    </div>
    <div class="col-4">
        <select name="id_magacina" id="id_magacina" class="form-select text-primary">
            <option value="0">...</option>
            {% for mag in magacini %}
            <option value="{{ mag.id }}" {{ magacin.id==mag.id ? ' selected' : '' }}>
                {{ mag.naziv }} [{{ mag.tip.naziv }}]
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="col-4 text-end mt-3">
        <a href="{{ url_for('stanje.lista.ukupno') }}" class="btn btn-warning mb-2"><i class="bi-arrow-left"></i> Укупно
            стање</a>
        <div class="input-group">
            <span class="input-group-text bg-primary text-white border-primary"><i class="bi-search"></i></span>
            <input type="search" class="form-control border-primary" id="searchbox" name="searchbox">
            <button class="btn btn-primary" type="button" id="ponisti-pretragu">
                <i class="bi-x-square"></i> Поништи
            </button>
        </div>
    </div>
</div>
<hr>

<table class="table">
    <thead class="table-dark">
        <th class="w-5">#</th>
        <th class="w-45">Артикал</th>
        <th class="w-20 text-end">Количина</th>
        <th class="w-15">Јединица</th>
        <th class="w-15 text-end"><i class="bi-gear"></i> Акције</th>
    </thead>
    <tbody>
        {% for stanje in stanja %}
        <tr class="pretraga">
            <td class="text-danger">{{ stanje.id_artikla }}</td>
            <td>{{ stanje.artikal().naziv }} [{{ stanje.artikal().kategorija().naziv }}]</td>
            <td class="text-end">{{ stanje.kolicina|number_format(2) }}</td>
            <td>{{ stanje.artikal().jm.jm }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{{ url_for('stanje.artikal', {id: stanje.id_artikla}) }}"><i
                            class="bi-eye"></i> Стање артикла</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock full %}

{% block skripta %}
{% if magacini %}
<script>
    document.getElementById('id_magacina').onchange = function () {
        let url = "{{ url_for('stanje.magacin', { id: 0 }) }}";
        url = url.replace("0", this.value);
        window.location.href = url;
    }
</script>
{% endif %}
{% if artikli %}
<script>
    document.getElementById('id_artikla').onchange = function () {
        let url = "{{ url_for('stanje.artikal', { id: 0 }) }}";
        url = url.replace("0", this.value);
        window.location.href = url;
    }
</script>
{% endif %}
{% endblock skripta %}