{% extends "templates/app.twig" %}
{% block full %}
<div class="row mt-3">
    <div class="col-md-8">
        <h1>
            Стање артикала у свим магацинима
            {% if data %}
            <span class="text-danger fs-4">[филтрирано]</span>
            {% else %}
            <span class="text-success fs-4">[сви записи]</span>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-4 text-end">
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#pretraga">
            <i class="bi-arrow-down-square"></i> Филтер
        </button>
        <a class="btn btn-success" type="button" href="{{ url_for('stanje.lista.ukupno') }}">
            <i class="bi-view-list"></i> Сви записи
        </a>
    </div>
</div>
<hr>

{% set data = stanje.data %}
{% set links = stanje.links %}

<div class="collapse border border-primary p-2 my-2 rounded-2" id="pretraga">
    <form action="{{ url_for('stanje.ukupno.pretraga.post') }}" method="POST">
        {{ csrf|raw }}
        <div class="row">
            <div class="col-md-6">
                <label for="id_artikla" class="form-label">Артикли</label>
                <select name="id_artikla" id="id_artikla" class="form-select">
                    <option value="" selected>...</option>
                    {% for art in artikli %}
                    <option value="{{ art.id }}">{{ art.naziv }} [{{ art.kategorija().naziv }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6 text-end mt-5">
                <button type="submit" class="btn btn-primary"><i class="bi-search"></i> Пронађи</button>
            </div>
        </div>
    </form>
</div>

{% if data|length > 0 %}
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-45">Артикал</th>
            <th class="w-20 text-end">Количина</th>
            <th class="w-15">Јединица</th>
            <th class="w-15 text-end"><i class="bi-gear"></i> Акције</th>
        </tr>
    </thead>
    <tbody>
        {% for stanje in data %}
        <tr>
            <td class="text-danger">{{ stanje.id_artikla }}</td>
            <td>{{ stanje.artikal().naziv }} [{{ stanje.artikal().kategorija().naziv }}]</td>
            <td class="text-end">{{ stanje.ukupno|number_format(2) }}</td>
            <td>{{ stanje.artikal().jm.jm }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{{ url_for('stanje.artikal', {id: stanje.id_artikla}) }}"><i
                            class="bi-eye"></i> Стање артикла</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row row-cols-auto">
    <div class="col">{{ links.buttons|raw }}</div>
    <div class="col">
        {{ links.select|raw }}
    </div>
    <div class="col text-secondary pt-1">
        Приказани редови од
        <span class="text-danger">{{ links.row_from }}</span>
        до
        <span class="text-danger">{{ links.row_to }}</span>
        од укупно
        <span class="text-danger">{{ links.total_rows }}</span>
    </div>
</div>
{% else %}
<h2>Нема артикала</h2>
{% endif %}
{% endblock full %}