{% extends "templates/app.twig" %}
{% block full %}
<h1>Купци</h1>
<hr />
<div class="card border-dark">
    <div class="card-header">Измена података купца</div>
    <div class="card-body">
        <form action="{{ url_for('kupac.izmena') }}" method="POST">
            {{ csrf | raw }}
            <input type="hidden" id="id" name="id" value="{{ kupac.id }}"/>
            <div class="form-row">
                <div class="form-group mt-3">
                    <label for="naziv">Пун назив</label>
                    <input type="text" class="form-control{{ errors.naziv ? ' is-invalid' : '' }}" name="naziv"
                        id="naziv" value="{{ old.naziv ? : kupac.naziv }}" maxlength="255"
                        oninvalid="this.setCustomValidity('Назив је обавезан и мора да садржи највише 255 карактера.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.naziv.0 }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-3">
                    <label for="adresa_mesto">Адреса место</label>
                    <input type="text" class="form-control{{ errors.adresa_mesto ? ' is-invalid' : '' }}" name="adresa_mesto" id="adresa_mesto"
                        value="{{ old.adresa_mesto ? : kupac.adresa_mesto }}" maxlength="50"
                        oninvalid="this.setCustomValidity('Адреса место мора да садржи највише 50 карактера.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.adresa_mesto.0 }}</div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group mt-3">
                    <label for="napomena" class="form-label">Напомена</label>
                    <textarea name="napomena" class="form-control" id="napomena" rows="3">{{ old.napomena ? : kupac.napomena }}</textarea>
                </div>
            </div>
            <div class="form-row text-end mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary"><i class="bi-plus-square"></i> Измени</button>
                    <a href="{{ url_for('kupac.lista') }}" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock full %}
