{% extends "templates/app.twig" %}
{% block full %}
<h1>Попис</h1>
<hr />
<div class="card border-dark">
    <h5 class="card-header bg-black text-white">Измена пописа</h5>
    <div class="card-body">
        <form action="{{ url_for('popis.izmena.post') }}" method="POST">
            {{ csrf|raw }}
            <input type="hidden" name="id" value="{{ popis.id }}">
            <div class="mb-3">
                <label for="datum">Датум</label>
                <input type="date" class="form-control{{ errors.datum ? ' is-invalid' : '' }}" name="datum" id="datum"
                    value="{{ old.datum ? : popis.datum }}" maxlength="10" minlength="1"
                    oninvalid="this.setCustomValidity('Датум је обавезан.')" oninput="this.setCustomValidity('')"
                    autocomplete="off" required>
                <div class="invalid-feedback">{{ errors.datum.0 }}</div>
            </div>
            <div class="mb-3">
                <label for="id_magacina" class="form-label">Магацин</label>
                <select name="id_magacina" id="id_magacina" class="form-select">
                    {% for mag in magacini %}
                    <option value="{{ mag.id }}" {{ mag.id==popis.id_magacina ? ' selected' : '' }}>
                        {{ mag.naziv }} [{{ mag.tip().naziv }}]
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label for="napomena" class="form-label">Напомена</label>
                <textarea class="form-control{{ errors.napomena ? ' is-invalid' : '' }}" name="napomena" id="napomena"
                    rows="3">{{ old.napomena ? : popis.napomena }}</textarea>
                <div class="invalid-feedback">{{ errors.napomena.0 }}</div>
            </div>

            <div class="text-end mt-3">
                <button type="submit" class="btn btn-primary"><i class="bi-save"></i> Измени</button>
                <a href="{{ url_for('popis.lista') }}" class="btn btn-secondary"><i class="bi-x-square"></i>
                    Откажи</a>
            </div>
        </form>
    </div>
</div>
{% endblock full %}