{% extends "templates/app.twig" %}
{% block full %}
<div class="row">
    <div class="col-md-6">
        <h1>
            Пописи
            {% if data %}
            <span class="text-danger fs-4">[филтрирано]</span>
            {% else %}
            <span class="text-success fs-4">[сви записи]</span>
            {% endif %}
        </h1>
    </div>
    <div class="col-md-6 text-end mt-3">
        <button class="btn btn-danger" type="button" data-bs-toggle="collapse" data-bs-target="#pretraga">
            <i class="bi-arrow-down-square"></i> Филтер
        </button>
        <a class="btn btn-success" type="button" href="{{ url_for('popis.lista.pregled.get') }}">
            <i class="bi-view-list"></i> Сви записи
        </a>
    </div>
</div>
<hr>
<div class="collapse border border-primary p-2 my-2 rounded-2" id="pretraga">
    <form action="{{ url_for('popis.pregled.pretraga.post') }}" method="POST" class="form row">
        {{ csrf|raw }}
        <div class="row mt-3 align-items-end">
            <div class="col-md-3">
                <label for="id_magacina" class="form-label">Магацини</label>
                <select name="id_magacina" id="id_magacina" class="form-select">
                    <option value="" selected disabled>...</option>
                    {% for mag in magacini %}
                    <option value="{{ mag.id }}">
                        {{ mag.naziv }} [{{ mag.tip().naziv }}]</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-3">
                <label for="datum_1" class="form-label">Датум од</label>
                <input type="date" name="datum_1" id="datum_1" class="form-control">
            </div>
            <div class="col-md-3">
                <label for="datum_2" class="form-label">Датум до</label>
                <input type="date" name="datum_2" id="datum_2" class="form-control">
            </div>
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary"><i class="bi-search"></i> Пронађи</button>
            </div>
        </div>
    </form>
</div>

{% set popdata = popisi.data %}
{% set links = popisi.links %}

<table class="table table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-15">Датум</th>
            <th class="w-35">Магацин</th>
            <th class="w-35">Напомена</th>
            <th class="w-10 text-end"><i class="bi-gear"></i> Акције</th>
        </tr>
    </thead>
    <tbody>
        {% for pop in popdata %}
        <tr class="pretraga">
            <td class="text-danger">{{ pop.id }}</td>
            <td>{{ pop.datum|date('d.m.Y') }}</td>
            <td>{{ pop.magacin().naziv }}</td>
            <td>{{ pop.napomena }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <a class="btn btn-success" href="{{ url_for('popis.satvke.pregled.get', { id: pop.id }) }}">
                        <i class="bi-eye"></i>
                    </a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="row row-cols-auto">
    <div class="col">{{ links.buttons|raw }}</div>
    <div class="col">
        {{ links.select|raw }}
    </div>
    <div class="col text-secondary pt-1">
        Приказани редови од
        <span class="text-danger">{{ links.row_from }}</span>
        до
        <span class="text-danger">{{ links.row_to }}</span>
        од укупно
        <span class="text-danger">{{ links.total_rows }}</span>
    </div>
</div>
{% endblock full %}