{% extends "templates/app.twig" %}
{% block full %}
<div class="row align-items-end">
    <div class="col-8">
        <h1>Отпремница</h1>
        <div class="h5">
            <em>Број:</em> <span class="text-success">{{ otpremnica.broj }}</span>
            <em>од</em> <span class="text-success">{{ otpremnica.datum|date('d.m.Y') }}</span>
            <em>| Магацин:</em> <span class="text-success">{{ otpremnica.magacin().naziv }}</span>
            <em>| Купац:</em> <span class="text-success">{{ otpremnica.kupac().naziv }}</span>
        </div>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-warning" onclick="history.back()">
            <i class="bi-arrow-left-short"></i> Назад
        </button>
        <a href="{{ url_for('otpremnica.lista') }}" class="btn btn-primary"><i class="bi-arrow-left"></i> Отпремнице</a>
    </div>
</div>
<hr>
{% endblock full %}

{% block article %}
<table class="table table-hover table-sm">
    <thead class="table-dark">
        <tr>
            <th class="w-5">#</th>
            <th class="w-25">Артикал</th>
            <th class="w-10 text-end">Количина</th>
            <th class="w-5">Јм</th>
            <th class="w-10 text-end">Цена</th>
            <th class="w-15 text-end">Износ</th>
            <th class="w-5 text-center">Плаћ</th>
            <th class="w-25">Опис</th>
            <th class="w-5 text-end"><i class="bi-gear"></i></th>
        </tr>
    </thead>
    <tbody>
        {% for stavka in otpremnica.stavke() %}
        <tr>
            <td class="text-danger">{{ stavka.id }}</td>
            <td>{{ stavka.artikal().naziv }} [{{ stavka.artikal().kategorija().naziv }}]</td>
            <td class="text-end">{{ stavka.kolicina|number_format(2) }}</td>
            <td>{{ stavka.artikal().jm.jm }}</td>
            <td class="text-end">{{ stavka.cena|number_format(2) }}</td>
            <td class="text-end">{{ stavka.iznos|number_format(2) }}</td>
            <td class="text-center">
                {% if stavka.placeno %}
                <i class="bi-check-circle text-success"></i>
                {% else %}
                <i class="bi-x-circle text-danger"></i>
                {% endif %}
            </td>
            <td>{{ stavka.opis }}</td>
            <td class="text-end">
                <div class="btn-group btn-group-sm">
                    <button class="btn btn-primary otvori-placanje" data-bs-toggle="modal" id="placanje"
                        data-bs-target="#placanjeModal" value="{{ stavka.id }}"
                        onclick="document.getElementById('idPlacanje').value = this.value">
                        <i class="bi-currency-exchange"></i>
                    </button>
                    <button class="btn btn-danger otvori-brisanje" data-bs-toggle="modal" id="brisanje"
                        data-bs-target="#brisanjeModal" value="{{ stavka.id }}"
                        onclick="document.getElementById('idBrisanje').value = this.value">
                        <i class="bi-trash"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{# Modal za brisanje #}
<div id="brisanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title text-danger">!!! УПОЗОРЕЊЕ !!!</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body">
                <p>Да ли желите трајно да обришете ставку отпремнице?</p>
                <p class="text-danger lead">* Ова акција је неповратна!</p>
                <form id="brisanje-forma" action="{{ url_for('otpremnica.stavke.brisanje') }}" method="POST">
                    {{ csrf|raw }}
                    <input type="hidden" id="idBrisanje" name="idBrisanje" value="">
                    <input type="hidden" name="idMagacina" value="{{ otpremnica.magacin().id }}">
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button id="btn-brisanje-obrisi" type="submit" class="btn btn-danger">
                        <i class="bi-trash"></i> Обриши
                    </button>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">
                        <i class="bi-x-square"></i> Откажи
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Kraj modala za brisanje #}

{# Modal za placanje #}
<div id="placanjeModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title text-warning">Упозорење!</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <div class="modal-body">
                <h4>Да ли желите да промените статус плаћања?</h4>
                <p>Статус плаћања ће се променити у <em class="text-success">плаћено</em> ако је тренутни статус <em
                        class="text-danger">није плаћено</em> и обрнуто.</p>
                <form id="placanje-forma" action="{{ url_for('otpremnica.stavke.placanje') }}" method="POST">
                    {{ csrf|raw }}
                    <input type="hidden" id="idPlacanje" name="idPlacanje" value="">
            </div>
            <div class="modal-footer">
                <div class="form-group">
                    <button id="btn-brisanje-obrisi" type="submit" class="btn btn-warning">Промени статус
                    </button>
                    <a class="btn btn-secondary" data-bs-dismiss="modal">Откажи
                    </a>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
{# Kraj modala za placanje #}

{% endblock article %}

{% block aside %}
<div class="card border-dark">
    <div class="card-header bg-black text-white"><strong>Додавање ставке отпремнице</strong></div>
    <div class="card-body">
        <form action="{{ url_for('otpremnica.stavke.dodavanje') }}" method="POST">
            {{ csrf|raw }}
            <input type="hidden" name="id_otpremnice" value="{{ otpremnica.id }}">
            <input type="hidden" name="id_magacina" value="{{ otpremnica.magacin().id }}">
            <div class="mt-3">
                <label for="id_artikla" class="form-label">Артикал</label>
                <select name="id_artikla" id="id_artikla"
                    class="form-select{{ errors.id_artikla ? ' is-invalid' : '' }}" required autocomplete="off">
                    {% for stanje in artikli %}
                    <option value="{{ stanje.id_artikla }}" {{ old.id_artikla==stanje.id_artikla ? ' selected' : '' }}
                        data-kolicina="{{ stanje.kolicina }}">
                        {{ stanje.artikal().naziv }} {{ stanje.artikal().jm.jm}} [{{ stanje.artikal().kategorija().naziv
                        }}]
                        доступно {{ stanje.kolicina }}
                    </option>
                    {% endfor %}
                </select>
                <div class="invalid-feedback">{{ errors.id_artikla.0 }}</div>
            </div>
            <div class="mt-3">
                <label for="kolicina">Количина</label>
                <input type="number" class="form-control{{ errors.kolicina ? ' is-invalid' : '' }}" name="kolicina"
                    id="kolicina" value="{{ old.kolicina ? : '0.00' }}" min="0" step="0.01"
                    max="{{ artikli.0.kolicina }}" inputmode="decimal"
                    oninvalid="this.setCustomValidity('Количина је обавезна и мора мора бити већа од 0 и мања од доступне у магацину.')"
                    oninput="this.setCustomValidity('')" autocomplete="off" required>
                <div class="invalid-feedback">{{ errors.kolicina.0 }}</div>
            </div>
            <div class="row mt-3 align-items-end">
                <div class="col-8">
                    <label for="cena" class="form-label">Цена по јединици мере</label>
                    <input type="number" class="form-control{{ errors.cena ? ' is-invalid' : '' }}" name="cena"
                        id="cena" value="{{ old.cena ? : '0.00' }}"
                        oninvalid="this.setCustomValidity('Цена је обавезна.')" oninput="this.setCustomValidity('')"
                        autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.cena.0 }}</div>
                </div>
                <div class="col-4 form-check">
                    <input class="form-check-input" type="checkbox" value="1" id="placeno" name="placeno">
                    <label class="form-check-label" for="placeno">
                        Плаћено
                    </label>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col">
                    <label for="opis" class="form-label">Опис</label>
                    <textarea class="form-control{{ errors.opis ? ' is-invalid' : '' }}" name="opis" id="opis"
                        rows="3">{{ old.opis }}</textarea>
                    <div class="invalid-feedback">{{ errors.opis.0 }}</div>
                </div>
            </div>
            <div class="form-row text-end mt-3">
                <div class="col">
                    <button type="submit" class="btn btn-primary"><i class="bi-plus-square"></i> Додај</button>
                    <a href="" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock aside %}
{% block skripta %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        var kol = document.getElementById('kolicina');
        document.getElementById('id_artikla').onchange = function () {
            var m = this.selectedOptions[0].getAttribute('data-kolicina');
            kol.setAttribute('max', m);
        }
    });
</script>
{% endblock skripta %}