{% extends "templates/app.twig" %}
{% block full %}
<div class="row align-items-end">
    <div class="col-8">
        <h1>Отпремница</h1>
        <div class="h5">
            <em>Број:</em> <span class="text-success">{{ otpremnica.broj }}</span>
            <em>од</em> <span class="text-success">{{ otpremnica.datum|date('d.m.Y') }}</span>
            <em>| Магацин:</em> <span class="text-success">{{ otpremnica.magacin().naziv }}</span>
            <em>| Купац:</em> <span class="text-success">{{ otpremnica.kupac().naziv }}</span>
        </div>
    </div>
    <div class="col-4 text-end">
        <button class="btn btn-warning" onclick="history.back()">
            <i class="bi-arrow-left-short"></i> Назад
        </button>
        <a href="{{ url_for('otpremnica.lista') }}" class="btn btn-primary"><i class="bi-arrow-left"></i> Отпремницe</a>
    </div>
</div>
<hr>

{% if otpremnica.stavke()|length > 0 %}
<div class="row">
    <div class="col-md-8 offset-md-2">
<table class="table table-hover">
    <thead class="table-dark">
        <tr>
            <th class="w-5 text-center">#</th>
            <th class="w-50 text-center">Артикал</th>
            <th class="w-40 text-center">Количина</th>
            <th class="w-5 text-center">Јм</th>
        </tr>
    </thead>
    <tbody>
        {% for stavka in otpremnica.stavke() %}
        <tr>
            <td class="text-danger text-center">{{ stavka.id }}</td>
            <td class="text-center">{{ stavka.artikal().naziv }} [{{ stavka.artikal().kategorija().naziv }}]</td>
            <td class="text-center">{{ stavka.kolicina|number_format(2) }}</td>
            <td class="text-center">{{ stavka.artikal().jm.jm }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
    </div>
</div>
{% else %}
<h2>Нема ставки</h2>
{% endif %}
{% endblock full %}