{% extends "templates/app.twig" %}
{% block full %}
<h1>Магацин</h1>
<hr>
<div class="card border-dark">
    <h5 class="card-header">Измена магацина</h5>
    <div class="card-body">
        <form action="{{ url_for('magacin.izmena.post') }}" method="POST">
            {{ csrf|raw }}
            <input type="hidden" name="id" value="{{ magacin.id }}">
            <div class="row mt-3">
                <div class="col-md-2">
                    <label for="id_tipa" class="form-label">Тип магацина</label>
                    <select name="id_tipa" id="id_tipa" class="form-select">
                        {% for tip in tipovi %}
                        <option value="{{ tip.id }}" {{ tip.id==magacin.id_tipa ? ' selected' : old.id_tipa }}>{{ tip.naziv }}
                        </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-3">
                    <label for="naziv" class="form-label">Назив</label>
                    <input type="text" class="form-control{{ errors.naziv ? ' is-invalid' : '' }}" name="naziv"
                        id="naziv" value="{{ old.naziv ? : magacin.naziv }}" maxlength="100"
                        oninvalid="this.setCustomValidity('Назив је обавезан и мора да садржи највише 100 карактера.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.naziv.0 }}</div>
                </div>
                <div class="col-md-3">
                    <label for="adresa" class="form-label">Адреса</label>
                    <input type="text" class="form-control{{ errors.adresa ? ' is-invalid' : '' }}" name="adresa"
                        id="adresa" value="{{ old.adresa ? : magacin.adresa }}" maxlength="255"
                        oninvalid="this.setCustomValidity('Адреса је обавезна и мора да садржи највише 255 карактера.')"
                        oninput="this.setCustomValidity('')" autocomplete="off" required>
                    <div class="invalid-feedback">{{ errors.adresa.0 }}</div>
                </div>
                <div class="col-md-4">
                    <label for="napomena" class="form-label">Напомена</label>
                    <textarea class="form-control{{ errors.napomena ? ' is-invalid' : '' }}" name="napomena"
                        id="napomena" maxlength="100" rows="3">{{ old.napomena ? : magacin.napomena }}</textarea>
                    <div class="invalid-feedback">{{ errors.napomena.0 }}</div>
                </div>
            </div>
            <div class="row mt-3 text-end">
                <div class="col">
                    <button type="submit" class="btn btn-primary"><i class="bi-save"></i> Измени</button>
                    <a href="{{ url_for('magacin.lista') }}" class="btn btn-secondary"><i class="bi-x-square"></i>
                        Откажи</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock full %}