{% extends "templates/app.twig" %}
{% block full %}
<div class="row">
	<div class="col">
		<h1>Логови</h1>
	</div>
	<div class="col text-end mt-3">
		<button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#pretraga">
			<i class="bi-search"></i> Претрага
		</button>
	</div>
</div>

{% set data = logovi.data %}
{% set links = logovi.links %}

<div class="collapse border border-primary p-2 mb-2 rounded-2" id="pretraga">
	<form action="{{ url_for('log.pretraga') }}" method="POST" class="form row">
		{{ csrf|raw }}
		<div class="col">
			<label for="tip" class="form-label">Тип</label>
			<select name="tip" id="tip" class="form-select">
				<option value="" selected disabled>...</option>
				<option value="ДОДАВАЊЕ">ДОДАВАЊЕ</option>
				<option value="ИЗМЕНА">ИЗМЕНА</option>
				<option value="БРИСАЊЕ">БРИСАЊЕ</option>
				<option value="ПРИЛАГАЊЕ">ПРИЛАГАЊЕ</option>
			</select>
		</div>
		<div class="col">
			<label for="tabela" class="form-label">Табела</label>
			<select name="tabela" id="tabela" class="form-select">
				<option value="" selected disabled>...</option>
				{% for tabela in tabele %}
				<option value="{{ tabela }}">{{ tabela }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col">
			<label for="opis" class="form-label">Опис</label>
			<input type="text" name="opis" id="opis" class="form-control">
		</div>
		<div class="col">
			<label for="datum_1" class="form-label">Датум од</label>
			<input type="date" name="datum_1" id="datum_1" class="form-control">
		</div>
		<div class="col">
			<label for="datum_2" class="form-label">Датум до</label>
			<input type="date" name="datum_2" id="datum_2" class="form-control">
		</div>
		<div class="col">
			<label for="korisnik" class="form-label">Корисник</label>
			<select name="korisnik" id="korisnik" class="form-select">
				<option value="" selected disabled>...</option>
				{% for korisnik in korisnici %}
				<option value="{{ korisnik.id }}">{{ korisnik.puno_ime }}</option>
				{% endfor %}
			</select>
		</div>
		<div class="col align-content-end">
			<button type="submit" class="btn btn-primary">Пронађи</button>
		</div>
	</form>
</div>
{% if logovi %}
<table class="table table-striped table-hover table-sm">
	<thead class="table-dark">
		<tr>
			<th class="w-5">#</th>
			<th class="w-10">Тип</th>
			<th class="w-15">Опис</th>
			<th class="w-15">Табела</th>
			<th class="w-25">Подаци</th>
			<th class="w-15">Време</th>
			<th class="w-15">Корисник</th>
		</tr>
	</thead>
	<tbody>
		{% for log in data %}
		<tr>
			<td class="text-danger">
				<em>{{ log.id }}</em>
			</td>
			<td class="text-primary">
				{{ log.tip }}
			</td>
			<td>
				<em>{{ log.opis }}</em>
			</td>
			<td class="text-success">
				<strong>{{ log.tabela }}</strong>
			</td>
			<td>
				{{log.podaci|nl2br }}
			</td>
			<td>
				<em>{{ log.vreme|date('d.m.Y у H:i:s') }}</em>
			</td>
			<td>
				{{ log.korisnik().puno_ime }}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<div>
	<div>{{ links.buttons|raw }}</div>
	<div>Иди на страну
		{{ links.select|raw }}</div>
	<div>
		<p>
			Приказани редови од
			<em>{{ links.row_from }}</em>
			до
			<em>{{ links.row_to }}</em>
			од укупно
			<em>{{ links.total_rows }}</em>
		</p>
	</div>
</div>
{% else %}
<h2>Нема логова</h2>
{% endif %}

{% endblock full %}